<h1>Listing Tasks</h1>

<p>
  drag and drop items to change its level of importance
</p>

<ul id="sortable">
  <% @tasks.each do |task| %>
    <li class="ui-state-default" id="task_<%= task.id %>">
      <span class="ui-icon ui-icon-arrowthick-2-n-s">
        <%= link_to raw('&#10004;'), project_mark_as_complete_path(@project, task), method: :patch %>&nbsp;
        <%= link_to task.title, edit_project_task_path(@project, task) %>
      </span>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $('#sortable').sortable({
    update: function (event, ui) {
      var data = $(this).sortable('serialize');
      $.ajax({
          data: data,
          type: 'POST',
          url: '/update_project_task_order'
      });
    }
  });
</script>

<hr />

<h1>Completed Tasks</h1>

<table>
  <% @completed_tasks.each do |task| %>
    <tr>
      <td><%= link_to 'reassign', project_mark_as_incomplete_path(@project, task), method: :patch %>&nbsp;&nbsp;</td>
      <td><%= link_to task.title, edit_project_task_path(@project, task) %></td>
    </tr>
  <% end %>
</table>


<% content_for(:links) do %>
  <li><%= link_to 'New Task', new_project_task_path(@project) %></li>
  <li><%= link_to 'My Profile', user_path(current_user) %></li>
<% end %>

