<!DOCTYPE html>
<html>
<head>
  <title>Todo List Sanity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <%= csrf_meta_tags %>

  <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>

</head>
<body>


  <div class="container">
    <div class="masthead">
      <h3 class="text-muted"><%= link_to image_tag('logo.png'), root_path, class: 'no-hover' %></h3>
      <ul class="nav nav-justified">
        <%= yield :links %>
        <% if signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>

    <p class="notice"><%= raw(notice) %></p>
    <p class="alert"><%= raw(alert) %></p>

    <%= yield %>

    <br /><br />
    <center>
      &copy; 2014 Todo List Sanity
    </center>
    <br />
  </div>


  <script>
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
  </script>

</body>
</html>
