<!DOCTYPE html>
<html>
<head>
  <title>Todo List Sanity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><%= link_to image_tag('logo.png'), root_path %></h3>
            <ul class="nav masthead-nav">
              <%= yield :links %>
              <% if signed_in? %>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

        <div class="mastfoot">
          <div class="inner">
            &copy; 2014 Todo List Sanity
          </div>
        </div>

      </div>

    </div>

  </div>

</body>
</html>
